<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.sinovoice.leetcodetest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:name=".MApplication"
            android:allowBackup="true"
            android:icon="@drawable/leetcode"
            android:label="@string/app_name"
            android:roundIcon="@drawable/leetcode"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".HttpActivity"></activity>
        <activity android:name=".LeakCanaryActivity" />
        <activity android:name=".ActivityViewTest" />
        <activity
                android:name=".ActivityB"
                android:launchMode="singleInstance" />
        <activity android:name=".ActivityC" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:name=".RemoteService"
                android:enabled="true"
                android:exported="true"
                android:label="myService">
            <intent-filter>
                <action android:name="com.sinovoice.leetcodetest.RemoteService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>